
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Printable Terms of Service</title>
</head>
<body>
    <strong>Terms of Service</strong>
    <p>
        ChatterBox is a not-for-profit and independently-run website. It is designed to allow its users private rooms for organizing group conversation; however, we are not monitoring, moderating, encouraging or endorsing any statements made or information spread on our website. All statements and actions by our users have been made by and of their own agency, and that agency alone.
    </p>
    <p>
        We do not recommend that persons under 18 use this website for safety reasons, and strongly suggest that any users under 18 ask permission from a legal guardian before using this website for their own sakes, should they choose to ignore our advice.
    </p>
    <p>
        All distribution of personal information must be done at a user’s own risk. We will NEVER ask users for their room URLs, passwords or personal information. If you are approached by someone claiming to be a site administrator who requests any of these things, it is our assertion that this person is making a fraudulent claim, and our suggestion is that you do not comply.
    </p>
    <p>
        Federal and international law prohibits any person or persons from using websites to sell illegal substances such as narcotics, or to distribute illegal web content such as child pornography. While the staff of ChatterBox is not responsible for any unlawful activities performed here, we recommend very strongly against performing any illicit activities on our site. Furthermore, no user is permitted to use our service for their own financial gain; any user who is conducting the sale or purchase of products and/or services on ChatterBox is doing so illegitimately and without the site’s permission.
    </p>
    <p>
        By proceeding, you are acknowledging that ChatterBox is exempt from any responsibility for you, your information and/or your possessions. Your actions are entirely your own, and those of others entirely theirs; the only thing that Chatspot exists to provide is a functional and convenient chatroom service, and will not protect you or your assets in any way.
    </p>
</body>
</html>
